.highlighter {
    --highlighter-white: #ffffff;
    --highlighter-black: #000000;
    --highlighter-yellow: #ffff00;
    --highlighter-dodgerblue: #1e90ff;
    --highlighter-blue: #0000ff;
    --highlighter-red: #ff0000;
    --highlighter-pink: #ffc0cb;
    --highlighter-grey: #808080;
    --highlighter-orange: #ffa500;
    --highlighter-green: #008000;
    --highlighter-purple: #800080;
    --highlighter-brown: #a52a2a;
    --highlighter-maroon: #800000;
    --highlighter-navy: #000080;
    --highlighter-teal: #008080;
    --highlighter-gold: #ffd700;
}

/* Font Colors */
.highlighter-color-white ::selection {
    color: var(--highlighter-white);
}

.highlighter-color-black ::selection {
    color: var(--highlighter-black);
}

.highlighter-color-yellow ::selection {
    color: var(--highlighter-yellow);
}

.highlighter-color-dodgerblue ::selection {
    color: var(--highlighter-dodgerblue);
}

.highlighter-color-blue ::selection {
    color: var(--highlighter-blue);
}

.highlighter-color-red ::selection {
    color: var(--highlighter-red);
}

.highlighter-color-pink ::selection {
    color: var(--highlighter-pink);
}

.highlighter-color-grey ::selection {
    color: var(--highlighter-grey);
}

.highlighter-color-orange ::selection {
    color: var(--highlighter-orange);
}

.highlighter-color-green ::selection {
    color: var(--highlighter-green);
}

.highlighter-color-purple ::selection {
    color: var(--highlighter-purple);
}

.highlighter-color-brown ::selection {
    color: var(--highlighter-brown);
}

.highlighter-color-maroon ::selection {
    color: var(--highlighter-maroon);
}

.highlighter-color-navy ::selection {
    color: var(--highlighter-navy);
}

.highlighter-color-teal ::selection {
    color: var(--highlighter-teal);
}

.highlighter-color-gold ::selection {
    color: var(--highlighter-gold);
}


/* Background(bg) colors */
.highlighter-bg-white ::selection {
    background-color: var(--highlighter-white);
}

.highlighter-bg-black ::selection {
    background-color: var(--highlighter-black);;
}

.highlighter-bg-yellow ::selection {
    background-color: var(--highlighter-yellow);
}

.highlighter-bg-dodgerblue ::selection {
    background-color: var(--highlighter-dodgerblue);
}

.highlighter-bg-blue ::selection {
    background-color: var(--highlighter-blue);
}

.highlighter-bg-red ::selection {
    background-color: var(--highlighter-red);
}

.highlighter-bg-pink ::selection {
    background-color: var(--highlighter-pink);
}

.highlighter-bg-grey ::selection {
    background-color: var(--highlighter-grey);
}

.highlighter-bg-orange ::selection {
    background-color: var(--highlighter-orange);
}

.highlighter-bg-green ::selection {
    background-color: var(--highlighter-green);
}

.highlighter-bg-purple ::selection {
    background-color: var(--highlighter-purple);
}

.highlighter-bg-brown ::selection {
    background-color: var(--highlighter-brown);
}

.highlighter-bg-maroon ::selection {
    background-color: var(--highlighter-maroon);
}

.highlighter-bg-navy ::selection {
    background-color: var(--highlighter-navy);
}

.highlighter-bg-teal ::selection {
    background-color: var(--highlighter-teal);
}

.highlighter-bg-gold ::selection {
    background-color: var(--highlighter-gold);
}

.highlighter-disable-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}